/* @font-face {
  font-family: 'MyFont';
  src: url('./my-font.woff2') format('woff2'),
    url('./my-font.woff') format('woff');
  font-weight: 600;
  font-style: normal;
} */

html,
body {
  height: 100%;
}

body {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.viewer-container {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.viewer--img-container {
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
}

.viewer--img-container img {
  max-width: 100%;
  max-height: 100%;
  cursor: cell;
}

.viewer--zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  cursor: none;
  /*set the size of the lens:*/
}

.viewer--zoom-result {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
  bottom: 20px;
  left: 20px;
}