@font-face {
  font-family: 'libre_baskervillebold';
  src: url('./assets/fonts/librebaskerville-bold-webfont.woff2') format('woff2'),
    url('./assets/fonts/librebaskerville-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'libre_baskervilleitalic';
  src: url('./assets/fonts/librebaskerville-italic-webfont.woff2')
      format('woff2'),
    url('./assets/fonts/librebaskerville-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'libre_baskerville';
  src: url('./assets/fonts/librebaskerville-regular-webfont.woff2')
      format('woff2'),
    url('./assets/fonts/librebaskerville-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #dfbd77;
  --secondary: #903a3e;
  --secondary-fade: hsl(357, 43%, 45%);
  --tertiary: #e2c283;
  --extra-light: hsl(40, 62%, 80%);
  --shadow: 1px 1px 10px black;
}

body {
  background-color: var(--primary);
  background-image: url('./assets/Melamine-wood-004.png');
  font-family: 'Cinzel', 'libre_baskerville', Garamond, serif;
}

#root {
  min-height: 100dvh;
}

.header {
  --header-height: clamp(40px, 8vw, 65px);
  display: grid;
  grid-template-columns: auto 1fr;
  /* justify-content: stretch; */
  height: var(--header-height);
  background-color: rgba(255, 255, 255, 0.77);
  /* box-shadow: 1px 1px 8px rgb(201, 201, 201); */
}

.header--target {
  /* position: relative; */
  transition: 0.3s;
}

.header--target-description {
  position: absolute;
  visibility: hidden;
  right: 0;
  top: 100%;
  background-color: #dfbc7787;
  border-radius: 50%;
  pointer-events: none;
  padding: 10px;
  font-size: 0.8rem;
}

.header--target:hover .header--target-description {
  visibility: visible;
}

.game-details {
  flex: 1 1 50%;
  display: flex;
  justify-content: space-between;
}

.waldo-tracker {
  display: flex;
  gap: calc(var(--header-height) * 0.2);
  align-items: center;
  justify-content: flex-end;
  margin: 0 16px;
  z-index: 2;
}

.header--target .target-img {
  height: calc(var(--header-height) * 0.8);
  transform-origin: top;
  position: relative;
  z-index: 6;
}

.timer {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  width: 4em;
}

.logo-container {
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding: clamp(5px, var(--header-height) * 0.2, 16px);
  transition: scale 0.3s;
  cursor: pointer;
}

.logo-container:hover {
  scale: 1.1;
}

.logo-container:active {
  scale: 0.9;
}

.logo-container img {
  height: 100%;
}

.viewer-container {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewer--img-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewer--img-container img {
  width: 100%;
  display: block;
  cursor: none;
}

.viewer--zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4a3;
  border-radius: 5%;
  /* cursor: none; */
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.reticle {
  width: 30px;
  height: 30px;
  border: 1px solid #a6010184;
  border-radius: 50%;
  flex-shrink: 0;
  pointer-events: none;
  /* cursor: none; */
}

.zoom-window-reticle {
  border-radius: 50%;
  flex: 0 0 auto;
  position: absolute;
  pointer-events: none;
}

.viewer--zoom-window {
  position: absolute;
  border: 1px solid #d4d4d4;
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 5%;
  z-index: 1;
}

.viewer--zoom-window:active {
  cursor: grabbing;
}

.viewer--zoom-window:hover .viewer--zoom-window-size {
  opacity: 1;
}

.viewer--zoom-window-size {
  --resizer-size: clamp(30px, 20%, 50px);
  width: var(--resizer-size);
  height: var(--resizer-size);
  background-color: rgba(192, 192, 192, 0.704);
  margin: auto 0 0 auto;
  rotate: 45deg;
  translate: 50% 50%;
  position: relative;
  cursor: nwse-resize;
  opacity: 0;
  transition: 0.3s;
}

.viewer--zoom-window-size:active {
  cursor: grabbing;
}

.viewer--zoom-window-size::before,
.viewer--zoom-window-size::after {
  content: '';
  position: absolute;
  background-color: black;
  width: 1px;
  border-radius: 5px;
  top: 0;
  bottom: 0;
  margin-block: auto;
}

.viewer--zoom-window-size::before {
  height: 66%;
  left: 8%;
}

.viewer--zoom-window-size::after {
  height: 40%;
  left: 18%;
}

.flag {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

@keyframes plant-flag {
  0% {
    scale: 0;
  }

  80% {
    scale: 1.5;
  }

  100% {
    scale: 1;
  }
}

.flag img {
  flex: 0 0 50px;
  animation-name: plant-flag;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.root-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.menu-container {
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 20px 0;
}

.menu--instructions-container {
  margin-left: 16px;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 5%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.collapsible {
  z-index: 1;
  transition: 0.3s;
  border-radius: 16px;
  box-shadow: 1px 1px 10px black;
}

.menu--instructions {
  background-color: var(--primary);
  border-radius: 16px;
  list-style-position: inside;
  padding: 16px;
  font-weight: 600;
  color: var(--secondary);
}

.menu--advanced-instructions {
  margin-left: 8px;
}

.instructions-button {
  color: var(--tertiary);
  text-shadow: 0.5px 0.5px 0 rgba(226, 194, 131, 0.23);
  appearance: none;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.05em;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
  height: 2rem;
  width: max-content;
  padding: 0px 6px;
}

.list-icon-container {
  height: 100%;
  padding: 2px;
}
.list-icon-container img {
  height: 100%;
}

.instructions-button img {
  transition: 0.3s;
}

.instructions-button img {
  rotate: 180deg;
}

.instructions-button:hover img {
  rotate: 90deg;
}

.instructions-button:focus-visible {
  outline: 2px solid var(--tertiary);
  border-radius: 5px;
}

.tutorial-viewer {
  margin-top: 16px;
  position: relative;
}

.tutorial-viewer-img-container {
  width: min-content;
  margin-left: auto;
}

.tutorial-viewer-img-wrapper {
  position: relative;
  cursor: none;
  height: 150px;
}

.tutorial-viewer img {
  height: 100%;
}

.tutorial--img-details {
  margin-top: 6px;
  letter-spacing: 0.05em;
}

.menu--card-container {
  display: grid;
  align-items: center;
  padding: 50px 16px;
  padding-top: 30px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}

.menu--card {
  color: var(--tertiary);
  text-shadow: 0.5px 0.5px 0 rgba(226, 194, 131, 0.23);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}

.tab-flipper {
  appearance: none;
  border: none;
  background-color: transparent;
  border-radius: 16px;
  position: absolute;
  inset: 0;
}

.tab-flipper:focus-visible {
  border: 1px solid var(--extra-light);
  outline: none;
}

.menu--card:hover {
  scale: 1.1;
}

.menu--thumbnail-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.menu--card img {
  width: 100%;
}

.menu--card .start-game-button {
  cursor: pointer;
  margin-top: 16px;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.1em;
  appearance: none;
  border: none;
  padding: 8px;
  align-self: center;
  border-radius: 8px;
  background-color: var(--primary);
  color: var(--secondary);
  transition: scale 0.3s;
}

.menu--card .start-game-button:hover {
  scale: 1.1;
}

.menu--card .start-game-button:active {
  scale: 0.9;
}

.menu--card .start-game-button:focus-visible {
  outline: 1px solid var(--primary);
  border: 2px solid var(--secondary);
}

.menu--card-details {
  margin-top: 8px;
  font-size: 0.8rem;
  letter-spacing: 0.05em;
}

.bold {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.target-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.target-details {
  display: flex;
  align-items: center;
  gap: 8px;
}

.target-img {
  height: 50px;
  transition: 0.3s;
}

.target-img:hover {
  scale: 1.5;
}

.target-img img {
  height: 100%;
  width: auto;
}

.flip-box {
  inset: 0;
  margin: auto;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
  background-color: transparent;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
  transform-style: preserve-3d;
}

.flip-box-front,
.flip-box-back {
  /* background-color: #903a3e; */
  padding: 16px;
  border-radius: 16px;
  position: absolute;
  inset: 0;
  margin: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flip-box-back {
  transform: rotateY(180deg);
}

.flip-box-back ul {
  margin-top: 8px;
}

.game-container {
  flex-grow: 1;
  display: flex;
  align-self: stretch;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.red-fade {
  animation-name: fade;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  position: fixed;
  inset: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(144, 58, 62, 0.98);
  color: white;
}

@keyframes loading {
  0% {
    transform: rotateY(180deg);
    translate: -100% 0;
  }

  50% {
    transform: rotateY(180deg);
    translate: 100% 0;
  }
  51% {
    transform: rotateY(0deg);
  }
  100% {
    translate: -100% 0;
  }
}

.loading-animation {
  overflow: hidden;
}

.loading-animation img {
  height: 75px;
  animation-name: loading;
  animation-duration: 4s;
  /* animation-fill-mode: both; */
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes ellipsis {
  0% {
  }

  100% {
    translate: 0 -100%;
  }
}

.loading-text {
  display: flex;
  align-items: center;
}

.dot {
  background-color: white;
  border-radius: 50%;
  height: 0.2em;
  width: 0.2em;
  margin-left: 0.2em;
  margin-top: 0.5em;
  animation-name: ellipsis;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.loading-text .dot:first-child {
  animation-delay: 0.3s;
}

.loading-text .dot:nth-child(2) {
  animation-delay: 0.6s;
}

.loading-text .dot:nth-child(3) {
  animation-delay: 0.9s;
}

@keyframes win-drop {
  from {
    translate: 0 -100%;
  }

  to {
    translate: 0;
  }
}
.win-screen {
  animation-name: win-drop;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
  position: fixed;
  z-index: 7;
  inset: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(144, 58, 62, 0.97);
  color: #dfbd77;
  letter-spacing: 0.1em;
}

.win-screen a {
  text-decoration: none;
  color: #dfbd77;
  font-weight: 700;
  border: 1px solid #dfbd77;
  padding: 16px;
  margin: 16px;
  transition: 0.3s;
}

.win-screen a:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.win-screen {
  text-align: center;
}

.win-screen p {
  margin-top: 16px;
}

.game-header {
  display: flex;
  justify-content: space-between;
}

.user-header {
  margin-left: auto;
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding: 4px 20px;
}

.height-100 {
  height: 100%;
  display: flex;
  align-items: center;
}

.main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up-form,
.account-form,
.modal {
  padding: 30px 20px 20px 20px;
  background-color: var(--primary);
  border-radius: 8px;
  overflow: visible;
}

.modal {
  border: none;
  margin: auto;
  animation-name: fade;
  animation-duration: 0.2s;
  animation-fill-mode: both;
}

.modal-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modal.delete-account {
  color: var(--secondary);
  max-width: 300px;
}

.modal-heading {
  font-weight: 600;
  font-size: 1.1rem;
  /* padding: 8px; */
  margin-bottom: 16px;
}

.modal::backdrop {
  background-color: rgba(144, 58, 62, 0.946);
  animation-name: fade;
  animation-duration: 0.2s;
  animation-fill-mode: both;
}

form {
  width: min(275px, 100%);
  color: var(--secondary);
  font-weight: 500;
  letter-spacing: 0.05em;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

form ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

form ul li {
  width: 100%;
}

form label {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

@keyframes fade-out {
  0% {
    scale: 0;
    opacity: 1;
  }
  3% {
    scale: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

form label .error,
.modal > .error {
  border: 1px solid red;
  border-radius: 8px;
  font-weight: 800;
  color: red;
  text-align: center;
  background-color: var(--extra-light);
  position: absolute;


}

form label .error {
  pointer-events: none;
  animation-name: fade-out;
  animation-fill-mode: both;
  animation-duration: 5s;
  font-size: 0.7rem;
  left: 85%;
  top: 0;
  bottom: 0;
  margin-block: auto;
  height: fit-content;
  width: min-content;
  padding: 3px;
}

.modal > .error {
  padding: 8px;
}

.unhandled-error {
  text-align: center;
  white-space: pre-line;
  font-weight: 800;
  color: red;
}

form label:has(.error) input {
  outline: 1px solid red;
}

.account-form {
  position: relative;
}

.form-update-wrapper {
  position: absolute;
  top: 98%;
  overflow: clip;
  overflow-clip-margin: 10px;
}

@keyframes fall-in {
  0% {
    translate: 0px -150%;
  }

  5% {
    translate: 0;
  }

  95% {
    translate: 0;
  }

  100% {
    translate: 0 150%;
  }
}

.form-update {
  animation-name: fall-in;
  animation-duration: 5s;
  animation-fill-mode: both;
  translate: 0px -150%;
  background-color: var(--secondary);
  color: var(--primary);
  font-size: 1.2rem;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

form input {
  appearance: none;
  /* border: 1px solid var(--secondary); */
  border: none;
  width: 100%;
  height: 2rem;
  background-color: var(--extra-light);
  border-radius: 8px;
  transition: 0.2s;
  text-indent: 8px;
  color: var(--secondary);
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.05em;
}

form input:focus,
.modal button:focus-visible,
.form--button-container button:focus-visible,
.form--button-container a:focus-visible,
.modal a:focus-visible,
.select-box-button:focus-visible,
.logo-container:focus-visible,
.account-deleted a:focus-visible {
  outline: 3px solid var(--secondary);
}

.form--button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

.account-form .form--button-container button {
  width: min-content;
}

.account-form .form--button-container button,
.account-form .form--button-container a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-container {
  display: flex;
  justify-content: center;
}

.account-form .delete-container button.delete {
  margin-top: 30px;
  background-color: var(--secondary);
  color: var(--extra-light);
  padding: 3px 8px;
  border-radius: 100vw;
}

.account-form .delete-container button.delete:hover,
.account-form .delete-container button.delete:focus-visible,
.account-form .delete-container button.final-delete:hover,
.account-form .delete-container button.final-delete:focus-visible {
  background-color: red;
  color: white;
}

.account-form .delete-container button.delete:focus-visible,
.account-form .delete-container button.final-delete:focus-visible {
  outline: 3px solid red;
  border: 1px solid white;
}

.account-deleted {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--secondary);
  padding: 16px;
  border-radius: 8px;
  gap: 16px;
  max-width: 400px;
  text-align: center;
}

.account-deleted a {
  text-decoration: none;
  color: var(--secondary);
  font-weight: 800;
  border-radius: 8px;
  border: 1px solid var(--secondary);
  padding: 8px;
  transition: 0.2s;
  letter-spacing: 0.05em;
}

.account-deleted a:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.account-deleted a:active {
  background-color: var(--secondary-fade);
}

.form--button-container a {
  text-decoration: none;
  padding: 0;
}

form button,
.form--button-container a {
  padding: 8px 16px;
  appearance: none;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 0.05em;
  border-radius: 8px;
  color: var(--secondary);
  background-color: var(--extra-light);
  font-size: 1.1rem;
  border: 1px solid var(--secondary);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.form--button-container button:hover,
.form--button-container a:hover {
  background-color: var(--secondary);
  color: var(--extra-light);
}

.form--button-container button:active,
.form--button-container a:active {
  background-color: var(--secondary-fade);
}

.or {
  margin: 16px auto;
  width: max-content;
  color: var(--secondary);
}

button.google-button {
  color: black;
  position: relative;
  appearance: none;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.359);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: inherit;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  margin-inline: auto;
  width: 100%;
  transition: 0.2s;
}

.google-button:hover {
  translate: 0 -2px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.359);
}

.google-button:active {
  translate: 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.359);
}

.sign-up-link {
  width: max-content;
  height: 2em;
  margin: 16px auto 0 auto;
}

.sign-up-link a {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.sign-up-link a {
  text-decoration: none;
  color: var(--secondary);
  font-weight: 800;
  letter-spacing: 0.05em;
  transition: 0.2s;
}

.sign-up-link a:hover {
  text-decoration: underline;
}

.sign-up-link a:active {
  scale: 0.9;
}

.user-button {
  font-size: calc(1rem + 0.5vw);
  transition: scale 0.3s;
  height: 100%;
  width: max-content;
  appearance: none;
  padding: 4px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: inherit;
  letter-spacing: 0.05em;
  cursor: pointer;
  font-weight: 600;
  color: var(--secondary);
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: transparent;
  border-radius: 16px;
  position: relative;
}

.user-button.sign-in {
  font-size: 1rem;
}

.user-button:hover {
  border: 1px solid var(--secondary);
}

.user-button:active {
  scale: 0.9;
}

.user-button:focus-visible {
  outline: 2px solid var(--secondary);
}

.user-button--img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.user-button img {
  height: max(20px, 100%);
}

.user-button .sign-in-text {
  width: max-content;
}

.user-button-container {
  position: relative;
}

.sign-out-error {
  position: absolute;
  right: 100%;
  top: 0;
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  z-index: 3;
}

.close-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  appearance: none;
  border: none;
  background-color: #dfbd77;
  padding: 2px;
  cursor: pointer;
  position: absolute;
  right: 6px;
  bottom: 6px;
}

.close-button img {
  height: 100%;
}

.close-button:hover {
  background-color: var(--extra-light);
}

.close-button:active {
  background-color: var(--tertiary);
}

.user-hud {
  z-index: 5;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  min-width: 10rem;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--secondary);
  box-shadow: 1px 1px 10px black;
}

.user-hud-contents {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.2s;
  visibility: hidden;
}

.user-hud-contents.open {
  grid-template-rows: 1fr;
  visibility: visible;
}

.user-hud-content-wrapper {
  overflow: hidden;
  cursor: pointer;
}

.user-hud-contents .user-hud-button {
  text-align: center;
  display: block;
  z-index: 1;
  text-decoration: none;
  position: relative;
  appearance: none;
  border: none;
  background-color: var(--secondary);
  color: var(--extra-light);
  width: 100%;
  padding-block: 16px;
  font: inherit;
  cursor: pointer;
  font-weight: 800;
  letter-spacing: 0.05em;
  transition: 0.2s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.user-hud-contents .user-hud-button:last-child {
  border-bottom: none;
}

.user-hud-contents .user-hud-button:hover {
  background-color: var(--secondary-fade);
}

.user-hud-contents .user-hud-button:active {
  background-color: var(--secondary);
}

.user-hud-contents .user-hud-button:focus-visible {
  outline: none;
  text-decoration: underline;
}

.eye-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.eye {
  appearance: none;
  border: none;
  overflow: hidden;
  background-color: var(--secondary);
  height: 30px;
  width: 30px;
  border-radius: 75% 5%;
  rotate: 45deg;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.eye:focus-visible {
  outline: 2px solid var(--secondary);
}

.eyelid {
  z-index: 1;
  border-radius: 80% 5%;
  transition: 0.15s;
  position: absolute;
  transition-timing-function: linear;
  width: 150%;
  height: 150%;
  background-color: var(--primary);
}

.iris-wrapper {
  flex-shrink: 0;
  width: 40px;
  height: 30px;
  border-radius: 50%;
  rotate: -45deg;
  position: relative;
}

.iris {
  position: absolute;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pupil {
  border-radius: 50%;
  background-color: var(--secondary);
  height: 50%;
  width: 50%;
}

.avatar-select {
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
}

.avatar-select:hover {
  scale: 1.1;
}

.avatar-select:active {
  scale: 1.05;
}

.select-box {
  inset: 0;
  margin: auto;
  appearance: none;
  border: none;
  background-color: transparent;
}

.select-box::backdrop {
  background-color: hsla(40, 63%, 80%, 0.534);
}

.select-box-button {
  display: block;
  background-color: transparent;
  border: none;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
  margin: auto;
}

.select-box .select-box-button:hover {
  scale: 1.1;
}

.select-box .select-box-button:active {
  scale: 1.05;
}

.select-box-button img {
  height: 100%;
}

.select-box-options-container {
  background-color: hsla(40, 63%, 80%, 0.915);
  padding: 16px;
  border-radius: 16px;
  width: clamp(300px, 90vw, 800px);
  display: grid;
  gap: 16px;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.custom-select select {
  display: none;
}

.select-selected:after {
  position: absolute;
  content: '';
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

img {
  font-size: 8px;
}

.error-page {
  text-align: center;
  font-size: min(3rem, 55px);
  background-color: #2a2a2a;
  background-image: linear-gradient(
    -45deg,
    #2a2a2a,
    #2a2a2a 50%,
    hsl(0, 0%, 20%) 50%,
    hsl(0, 0%, 20%)
  );
  background-size: 1px 1px;
  border: 5px ridge var(--primary);
  color: var(--primary);
  margin: 30px;
  padding: 16px;
  max-width: 700px;
  text-shadow: -1px -1px 0 rgba(226, 194, 131, 0.529);
}

.leaderboard-menu {
  display: flex;
  flex-direction: column;
}

.high-score-link-container {
  margin-top: 30px;
  margin-inline: auto;
  display: flex;
  width: clamp(300px, 80vw, 800px);
}

.high-score-link-container .high-score-link:first-child {
  z-index: 5;
  margin-left: 0;
}

.high-score-link-container .high-score-link:nth-child(2) {
  z-index: 4;
}

.high-score-link-container .high-score-link:nth-child(3) {
  z-index: 3;
}

.high-score-link-container .high-score-link:nth-child(4) {
  z-index: 2;
}

.high-score-link-container .high-score-link:nth-child(5) {
  z-index: 1;
}

@keyframes present {
  0% {
    translate: 0;
  }

  50% {
    translate: 50% 0;
  }

  100% {
    translate: 0;
    transform: translateZ(200px);
  }
}

@keyframes first-present {
  0% {
    translate: 0;
  }
  50% {
    translate: 50% 0;
  }
  100% {
    translate: 0;
    transform: translateZ(200px);
  }
}

@keyframes remove {
  0% {
    translate: 0;
    transform: translateZ(200px);
  }

  50% {
    translate: 50% 0;
  }

  100% {
    translate: 0;
  }
}

.high-score-link {
  --depth: 10px;
  margin-left: -100px;
  height: 150px;
  perspective: 1000px;
  width: 275px;
}

.high-score-link .cube {
  pointer-events: none;
  transition: 0.2s;
  transform-style: preserve-3d;
  height: 100%;
  transform: rotateY(-30deg);
  position: relative;
  box-shadow: var(--shadow);
}

.face,
.side {
  position: absolute;
}

.side {
  background: url('./assets/Melamine-wood-002.png');
  background-size: cover;
}

.high-score-link .face {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./assets/Melamine-wood-002.png');
  background-size: contain;
  padding: 8px;
}

.high-score-link .right.side {
  width: 10px;
  height: 100%;
  left: 100%;

  transform: rotateY(90deg);
  transform-origin: left;
  background-color: white;
}

.high-score-link .top.side {
  width: 100%;
  height: var(--depth);
  bottom: 100%;
  transform: rotateX(90deg);
  transform-origin: bottom;
}

.high-score-link .back.side {
  width: 100%;
  height: 100%;
  transform: translateZ(calc(var(--depth) * -1));
}

/* causes too much glitchyness between cards
/* @keyframes forward {
  from {
    z-index: initial;
  }
  to {
    z-index: 5;
  }
} */

.high-score-link-container .high-score-link:hover {
  z-index: 5;
  /* animation-name: forward;
  animation-duration: 0.1s;
  animation-fill-mode: both; */
}

.high-score-link:not(:first-child):hover .cube {
  /* transition: 0.2s; */
  animation-name: present;
  animation-duration: 0.2s;
  animation-fill-mode: both;
}

.high-score-link:first-child:hover .cube {
  transform: translateZ(200px);
}

.high-score-link:not(:first-child) .cube {
  animation-name: remove;
  animation-duration: 0.2s;
}

.high-score-link img {
  max-width: 100%;
  max-height: 100%;
}

.leaderboard-wrapper {
  padding: 20px;
  background-color: #dfbc77dc;
  border-radius: 8px;
  margin: 30px 0 50px 0;
}

.leaderboard {
  color: var(--secondary);
  font-size: min(calc(0.7rem + 0.5vw), 1rem);
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-inline: auto;
  border-collapse: collapse;
}

.leaderboard--ranking {
  font-size: min(calc(0.7rem + 0.6vw), 1.1rem);
  font-weight: 800;
  width: 30px;
  border-right: 1px solid var(--secondary);
}

.leaderboard .leaderboard--time {
  text-align: center;
}

.leaderboard .leaderboard--user-info {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.leaderboard .leaderboard--user-avatar {
  height: 30px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaderboard .leaderboard--user-avatar img {
  height: 80%;
}

.leaderboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.leaderboard-container .menu--card {
  /* width: clamp(300px, 25vw, 500px); */
  width: min(350px, 90vw);
}

.leaderboard-container .menu--card:hover {
  scale: 1.01;
}